.logo {
    background-color: #333333;
    /* margin-top: 0%; */
    position: relative; 
    /* top: -50%; 
    left: -50%;  */
    width: 200%; 
    height: 28%;
    font-family: "langdonregular",serif;
    font-weight: bold;
  }

  .logo-img {
    margin-right: 80%;
    margin-top: 0.7%;
  }

 /* NAV LINKS */

  .menu {
    color: white;
    display: flex;
    margin-top: -1%;
    margin-left: 14.5%;
    width: 30%;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: -1px;
  }

  .join {
    color: white;
    display: flex;
    margin-top: -2%;
    margin-left: 18%;
    width: 30%;
    font-size: 22px;
    /* padding: 0px 7px; */
    text-decoration: none;
    letter-spacing: -1px;
  }

  .rewards {
    color: white;
    display: flex;
    margin-top: -2%;
    margin-left: 23%;
    width: 30%;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  .giftcards {
    color: white;
    display: flex;
    margin-top: -2%;
    margin-left: 29%;
    width: 30%;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  .locations {
    color: white;
    display: flex;
    margin-top: -1%;
    margin-left: 33%;
    width: 30%;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  .contact {
    color: white;
    display: flex;
    margin-top: -1%;
    margin-left: 38%;
    width: 30%;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
  }

  .careers {
    color: white;
    display: flex;
    margin-top: -1%;
    margin-left: 42%;
    width: 30%;
    font-size: 22px;
    text-decoration: none;
    letter-spacing: -1px;
    text-transform: uppercase;
  }


  /* HEADER */
  .header-img {
    margin-right: 50%;
    margin-top: 1%;
    width: 50%;
    height: 50%;
    display: inline-block;
    vertical-align: middle;
}
  
  .header-wrap {
    content: "";
    display: block;
    height: 12px;
    width: 100%;
    background: linear-gradient(45deg,#e7e3d8 30%,transparent 30%) 0 100%,linear-gradient(-45deg,#e7e3d8 30%,transparent 30%) 0 100%;
    background-size: 12px 12px,12px 12px;
    background-repeat: repeat-x;
    position: absolute;
    /* left: 0;
    right: 0;
    bottom: -1px; */
    z-index: 2000;
    margin-top: -0.4%;
  }
  
 